<!DOCTYPE html>

<html>

  <head>
    
    <title>
      Food for Thought    
    </title>
    
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    
  </head>

  <body>

    <div class="container">
      
      <form action="/list/" method = "GET">
	
	<div class="form-group">
	  <label for="ingredient" name="ingredient">Text Search</label>
	  <input name = "ingredient" type="text" class="form-control" id="ingredient" placeholder="Carrot">
	</div>

	<button type="submit" class="btn btn-default">Search</button>

      </form>
      
      <form>

	<div class="form-group">
	  <label for="imgsearch">Image Search</label>
	  <input type="url" class="form-control" id="imgsearch">
	</div>

	<button type="submit" class="btn btn-default">Search</button>

      </form>
      
      <form>

	<div class="form-group">
	  <label for="imgsearchfile">File input</label>
	  <input type="file" id="imgsearchfile">
	  <p class="help-block">File upload currently being tested.</p>
	</div>

	
	<button type="submit" class="btn btn-default">Search</button>

      </form>
      
  </body>

</html>
