<!DOCTYPE html>

<html>

  <head>

    <title>                                                                                                                                                                         
     Search                                                                                                                                                               
    </title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>

    <table class="table table-hover">
    {% for i in list %}
    
    <tr class="clickable-row">
      <td>
	<a href="info/?select">{{i}}</a>
      </td>
    </tr>
    <!-- replace href with something (This might have to be passed from app.py) -->
    
    {% endfor %}
    </table>

  </body>
  
</html>
